if SHIELD_POLYGLOT

config ZMK_KEYBOARD_NAME
    default "StenoKeyboards Polyglot"

endif

if CHARACHORDER_ENGINE

config I2C
    default y

# probably have to configure a little more... TBD

endif # CCE
